//========================================== 
//========================================== 
//========================================== 
//========================================== 

  //......
  body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  //......
  a {
    color: #333;
    border: 1px dashed #333;
    text-decoration: none;
  }
  //......
  @mixin flexbox( $direction: row,                            
                  $align_main_axis: flex-end,                 
                  $align_second_axis: center,               
                  $expand_mode: 0,                            
                  $wrap_mode: wrap,
                  $align_second_axis_wrap_mode: flex-start,  
                  $shrink_mode: 0                          
                ) 
  {                
      //========================================== DISPLAY 
      display: -webkit-box;   
      display: -moz-box;
      display: -ms-flexbox;   
      display: -webkit-flex;
      display: flex;

      //========================================== FLEX-DIRECTION
      $direction_old:  $direction;
         
      @if $direction == row {   $direction_old: horizontal;

      }@if $direction == column {  $direction_old: vertical;
      }    
      
      -webkit-box-direction:  normal; //normal | reverse | inherit   
      -moz-box-direction:     normal; //$direction_old2;   <=Fx17
      -webkit-box-orient:     $direction_old;   
      -moz-box-orient:        $direction_old; //<=Fx17  //horizontal|vertical|inline-axis|block-axis|inherit
      
      -ms-flex-direction:     $direction;

      -webkit-flex-direction: $direction;      
      flex-direction:         $direction;
      
      //========================================== JUSTIFY-CONTENT main axis
      //flex-start    flex-end    center      space-between       space-around
      //OLD  box-pack: start|end|center|justify;
      $align_main_axis_old: $align_main_axis;
      
      @if $align_main_axis == flex-end {   $align_main_axis_old: end;

      }@if $align_main_axis == flex-start {  $align_main_axis_old: start;

      }@if $align_main_axis == space-between {  $align_main_axis_old: justify;

      }@if $align_main_axis == space-around {  $align_main_axis_old: justify; // NÃO É POSSÍVEL SIMULAR EXACTA/ O space-around
      }

      -webkit-box-pack:           $align_main_axis_old;    
      -moz-box-pack:              $align_main_axis_old;  

      -ms-flex-pack:              $align_main_axis_old;

      -webkit-justify-content:    $align_main_axis;    
      justify-content:            $align_main_axis;
      
      //==========================================  ALIGN-ITEMS  secondary axis
      //              flex-start     flex-end    center      stretch... 
      //OLD  box-pack: start          |end        |center        
      $align_second_axis_old: $align_second_axis;
      
      @if $align_second_axis == flex-end {
              $align_second_axis_old: end;

      }@if $align_second_axis == flex-start {
              $align_second_axis_old: start;
      }

      -webkit-box-align:   $align_second_axis_old;    
      -moz-box-align:      $align_second_axis_old;        //Fx16,17        
      
      -ms-flex-align:      $align_second_axis_old;        //IE10
      
      -webkit-align-items: $align_second_axis;            //Ch26,27>; Fx
      align-items:         $align_second_axis;            //Ch29>; Fx23>

      //========================================== FLEX-WRAP
      -webkit-flex-wrap:  $wrap_mode;
      -moz-flex-wrap:   $wrap_mode;    
      -ms-flex-wrap:      $wrap_mode; 
      flex-wrap:          $wrap_mode; 

      
      //==========================================   ALIGN-CONTENT  
      //ÚTIL APENAS COM MULTILINE (QUANDO A PROP. flex-wrap: wrap);
      //ALINHA OS ELEMENTOS NA CROSS/SECONDARY AXIS, 
      -webkit-align-content:  $align_second_axis_wrap_mode;    
      -ms-flex-line-pack:     $align_second_axis_wrap_mode;    
      align-content:          $align_second_axis_wrap_mode; 
        

      /*==========================================  CHILDS  */
      > *{
                       /*GROW  SHRINK  BASIS*/
          /*flex:         0       1   auto;*/
              
          /*=========================================*/
         /* -webkit-box-ordinal-group: 0;
          -moz-box-ordinal-group: 0;
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          */
          -webkit-box-flex:   $expand_mode;
          -moz-box-flex:      $expand_mode;
          -webkit-flex:       $expand_mode $shrink_mode auto;
          -ms-flex:           $expand_mode $shrink_mode auto;
          flex:               $expand_mode $shrink_mode auto; 
      }
  }
  //......
  .holder {
    border: none;  /*1px dashed orange;*/
    height: auto;
    left: auto;
    max-width: 900px;
    margin: 14px auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: auto;  
    

    @include flexbox( $direction: row,                            
                  $align_main_axis: space-between,                 
                  $align_second_axis: flex-start,               
                  $expand_mode: 1,                            
                  $wrap_mode: wrap,
                  $align_second_axis_wrap_mode: flex-start,  
                  $shrink_mode: 1                          
                ); 
  }
  //......
  .holder_loader {
    border: 1px dashed #333;
    display: inline-block;
    height: auto;
    left: auto;
    margin: 0 20px 20px 0;
    min-height: 200px;
    padding: 0 0 50px 0;
    position: relative;
    text-align: center;
    top: auto; 
    vertical-align: top; 
    width: 200px;
  }
  //......
  .holder_loader_dummy { border: none; height: 1px; min-height: 1px; }

  .divis {
    background-color: #333;
    border: none;
    height: 1px;
    margin: 20px auto 32px auto;
    width: 30%;
  }
  //......
  .btn_loader {
    border: 1px dotted orange;
    border-radius: 4px;
    color: orange;
    display: inline-block;
    font-size: 14px;
    margin: 20px auto 12px auto;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .btn_loader_dowload {
    border: 1px dotted orange;
    border-radius: 4px;
    bottom: 0; 
    color: orange;
    display: inline-block;
    font-size: 12px;
    left: 0; 
    margin: 20px 0;
    padding: 6px;
    position: absolute; 
    right: auto;
    text-decoration: none;
    text-transform: uppercase;
    top: auto; 
  }
  //......
  .holder_loader1 
  {
    border: none;  
    display: inline-block;
    left: 0; 
    margin: auto;
    position: relative;   
    top: auto; 
  }
  //......
//========================================== 
//========================================== 
//========================================== 
//========================================== 













//========================================== @MIXIN LOADER
//========================================== @MIXIN LOADER
//========================================== @MIXIN LOADER
//========================================== @MIXIN LOADER
  //MIXIN FOR ALL LOADERS;
  @mixin loader($total_elem_: 36,
                $total_elem_utilizados_: 36,
                $size_: 10px,
                
                $animation_: line-spin-fade-loader,
                $vel_speed_: 2s,
                $vel_delay_inicial_: 0s,
                $vel_delay_inicial_increm_: 0.01s,
                $ease_: ease-out,                   //linear  ease-in-out:,

                $rotation_increm_:10deg,

                $border_radius_:40%,
                $border_: 1px white dotted,

                $bg_color_: transparent,
                $opacity_: 0.2,

                $rect_width_:  1px,
                $rect_height_: 1px
                ) 
  {
    //===================== VARIABLES
    //===================== VARIABLES
    //===================== VARIABLES
    //===================== VARIABLES
      //.............
      $total_elem: $total_elem_;                             
      $total_elem_utilizados: $total_elem_utilizados_;       

      $size: $size_;                                       
      //.............
      $animation: $animation_;                            
      $vel_speed:  $vel_speed_;                               
      $vel_delay_inicial: $vel_delay_inicial_;        
      $vel_delay_inicial_increm: $vel_delay_inicial_increm_; 
      $ease: $ease_;                                    
      //............. 
      $rotation_increm: $rotation_increm_;            
      
      //............. 
      $border_radius: $border_radius_;                
      $border:  $border_;                             
      //............. 
      $bg_color:  $bg_color_;                         
      $opacity:    $opacity_;                         
      //$opacity_increm:  0.1;
      //............. 
      $rect_width:  $rect_width_;         
      $rect_height: $rect_height_;       
    //===================== VARIABLES
    //===================== VARIABLES
    //===================== VARIABLES
    //===================== VARIABLES                     END!


    //===================== ELEMENT HOLDER DIVS
    //.............
    background-color: transparent;   
    border: none;  //1px red solid;          
    //.............
    $rotation:  -$rotation_increm;         
    //.............
    $pos_x: 100%;           //
    $pos_y: calc(50% - #{$rect_height}/2 );
    //............. TRANSFORM-ORIGIN - COORDENADAS QUE SÃO O CENTRO DA ROTAÇÃO
    $origin_x: -$size/2;                //
    $origin_y: $rect_height/2;          //
    //.............
    width: $size;    height: $size;
    //.............
    position: relative; 
    
    
    //............... RECTANGULOs ROTATION - FORMATAÇÃO GERAL COMUM A TODOS
    & > div {  
      display: inline-block;
      position: absolute;

      opacity: $opacity;
      background-color: $bg_color;  //
      
      border:         $border;    //  
      border-radius:  $border_radius;
      
      width:  $rect_width;
      height: $rect_height;
      left: $pos_x;  
      top:  $pos_y;       
                                
      -webkit-transform-origin: $origin_x  $origin_y;
            transform-origin: $origin_x  $origin_y;  

    }
    //............. DESACTIVAR ELEMENTOS NÃO UTILIZADOS
    $inicio_desactivacao: $total_elem_utilizados+1;
    @if  $inicio_desactivacao <= $total_elem 
    {    
      @for $i from $inicio_desactivacao through $total_elem
      {
            & >  div:nth-child(#{$i}) { display: none; }     
      }
    }  
    //............... FORMAT ELEMENTS
    @for $i from 1 through $total_elem_utilizados
    {
        & > div:nth-child(#{$i}) 
        { 
              
              $rotation:  $rotation + $rotation_increm;
              //@include vendorize(transform, rotate($rotation));
              -webkit-transform: rotate($rotation);
                      transform: rotate($rotation);
              
              $vel_delay_inicial: $vel_delay_inicial + $vel_delay_inicial_increm;
              
              
              // @keyframes                 name      | duration |   timing-function | delay          |  iteration-count  | direction | fill-mode | play-state 
              //  animation:                slidein     3s           ease-in           1s                 2                 normal       both       running;
              //@include vendorize(animation, $animation  $vel_speed   $ease             $vel_delay_inicial infinite   ); //       normal       both       running); 
              -webkit-animation: $animation  $vel_speed   $ease             $vel_delay_inicial infinite;
                      animation: $animation  $vel_speed   $ease             $vel_delay_inicial infinite;
                    
         }  
    }
  }









//======================= anim2  spinner_sass 
//======================= anim2  spinner_sass 
//======================= anim2  spinner_sass 
//======================= anim2  spinner_sass 
 @-webkit-keyframes anim2 {
    50%  { opacity: 1; }  70% { opacity: 0.2;    }     
  }
  @-ms-keyframes anim2 {
    50%  { opacity: 1; }  70% { opacity: 0.2;    }     
  }
  @keyframes anim2 {
    50%  { opacity: 1; }  70% { opacity: 0.2;    }     
  }
  //======================= spinner
  .spinner_sass 
  {
      @include loader($total_elem_:     36,
              $total_elem_utilizados_:  12,
              $size_: 16px,
              
              $animation_:                anim2,  //line-spin-fade-loader,
              $vel_speed_:                1.1s,
              $vel_delay_inicial_:        0s,
              $vel_delay_inicial_increm_: 0.08s,
              $ease_:                     ease-out,   //linear  ease-in-out:,

              $rotation_increm_: 30deg,

              $border_radius_: 3px,
              $border_: none,       //1px white dotted,

              $bg_color_: white,
              $opacity_: 0.3,

              $rect_width_:  8px,
              $rect_height_: 3px
              );
  }







//======================= spinner_xl_sass 
//======================= spinner_xl_sass 
//======================= spinner_xl_sass 
//======================= spinner_xl_sass 
  @-webkit-keyframes spinner_xl {
    50%  { opacity: 0.5; }  90% { opacity: 0.1;    } 
  }
  @keyframes spinner_xl {
    50%  { opacity: 0.5; }  90% { opacity: 0.1;    } 
  }
  .spinner_xl_sass
  {
        @include loader($total_elem_:     36,
                $total_elem_utilizados_:  24,
                $size_: 48px,
                
                $animation_:                spinner_xl,  //line-spin-fade-loader,
                $vel_speed_:                2s,
                $vel_delay_inicial_:        0s,
                $vel_delay_inicial_increm_: 0.04s,
                $ease_:                     ease-out,   //linear  ease-in-out:,

                $rotation_increm_: 15deg,

                $border_radius_: 0,
                $border_: none,       //1px white dotted,

                $bg_color_: white, //transparent,
                $opacity_: 0.1,

                $rect_width_:  10px,
                $rect_height_: 2px
                ); 
        
       
        //............... PARA TESTES
        //background-color: transparent; //rgba(0,255,255, 0.5);
        //border-radius: 100%; 
        border: none; // 1px green solid;
  }






//======================= spinner_01_sass
//======================= spinner_01_sass
//======================= spinner_01_sass
//======================= spinner_01_sass
  @-webkit-keyframes line-spin-fade-loader { 
      50%  { width:0px; opacity: 1; }  70% { width:20px; opacity: 0.2;    }   //+++++ random dotted border
  }
  @keyframes line-spin-fade-loader { 
      50%  { width:0px; opacity: 1; }  70% { width:20px; opacity: 0.2;    }   //+++++ random dotted border
  }
  .spinner_01_sass 
  { 
    @include loader($total_elem_: 36,
                $total_elem_utilizados_: 36,
                $size_: 10px,
                
                $animation_: line-spin-fade-loader,
                $vel_speed_: 2s,
                $vel_delay_inicial_: 0s,
                $vel_delay_inicial_increm_: 0.01s,
                $ease_: ease-out,                   //linear  ease-in-out:,

                $rotation_increm_:10deg,

                $border_radius_:40%,
                $border_: 1px white dotted,

                $bg_color_: transparent,
                $opacity_: 0.2,

                $rect_width_:  1px,
                $rect_height_: 1px
                ); 

  }









//======================= spinner_02_sass
//======================= spinner_02_sass
//======================= spinner_02_sass
//======================= spinner_02_sass
  @-webkit-keyframes anim_spinner_02_sass {
    50%  { opacity: 0;  width: 30px; }  
    100% { opacity: 1;   width: 1px;   border:1px dotted black; }    
  }
  @keyframes anim_spinner_02_sass {
    50%  { opacity: 0;  width: 30px;  }  
    100% { opacity: 1;   width: 1px;   border-color: black }    
  }
  .spinner_02_sass 
  {
      @include loader($total_elem_:     36,
              $total_elem_utilizados_:  36,
              $size_: 6px,
              
              $animation_:                anim_spinner_02_sass,  //
              $vel_speed_:                2s,
              $vel_delay_inicial_:        0s,
              $vel_delay_inicial_increm_: 0s,
              $ease_:                     ease-out,   //linear  ease-in-out:,

              $rotation_increm_: 10deg,

              $border_radius_: 100%,
              $border_: 1px white dotted,

              $bg_color_: transparent,
              $opacity_: 1,

              $rect_width_:  1px,
              $rect_height_: 2px
              ); 
  }  









//======================= spinner_03_sass
//======================= spinner_03_sass
//======================= spinner_03_sass
//======================= spinner_03_sass
  @-webkit-keyframes anim_spinner_03_sass {
    0%  {  -webkit-transform: rotate(0deg); }
    100%  {    -webkit-transform: rotate(360deg); }  
  }
  @keyframes anim_spinner_03_sass {
    0%  {  transform: rotate(0deg); }
    100%  {    transform: rotate(360deg); }  
  }
  .spinner_03_sass 
  {
      @include loader($total_elem_:     36,
              $total_elem_utilizados_:  10,
              $size_: 48px,
              
              $animation_:                anim_spinner_03_sass,  //line-spin-fade-loader,
              $vel_speed_:                2s,
              $vel_delay_inicial_:        0s,
              $vel_delay_inicial_increm_: 0.07s,
              $ease_:                     ease-in-out,   //linear  ease-in-out:,

              $rotation_increm_: 0deg,

              $border_radius_: 0,
              $border_: none,       //1px white dotted,

              $bg_color_: white,
              $opacity_: 0.5,

              $rect_width_:  20px,
              $rect_height_: 2px
              );
  }













//======================= anim_rounded 
//======================= anim_rounded 
//======================= anim_rounded 
//======================= anim_rounded 
 @-webkit-keyframes anim_rounded {
    50%  { opacity: 0.6; width: 12px; height: 12px; }  70% { opacity: 0.1;  width: 1px; height: 1px;  }     
  }
  @keyframes anim_rounded {
    50%  { opacity: 0.6; width: 12px; height: 12px; }  70% { opacity: 0.1;  width: 1px; height: 1px;  }   
  }
  //======================= spinner
  .spinner_rounded 
  {
      @include loader($total_elem_:     36,
              $total_elem_utilizados_:  12,
              $size_: 26px,
              
              $animation_:                anim_rounded,  //line-spin-fade-loader,
              $vel_speed_:                1.1s,
              $vel_delay_inicial_:        0s,
              $vel_delay_inicial_increm_: 0.08s,
              $ease_:                     ease-out,   //linear  ease-in-out:,

              $rotation_increm_: 30deg,

              $border_radius_: 5px,
              $border_: none,       //1px white dotted,

              $bg_color_: white, //transparent,
              $opacity_: 0.3,

              $rect_width_:  8px,
              $rect_height_: 8px
              );
  }

















































